{% extends 'base.html' %}

{% block content %}
    {% if blogs|length == 0 %}
        <p>No Blogs Posted</p>
    {% else %}
        <h1>Build a Blog</h1>
        <ul>
            {% for blog in blogs %}
                <li>
                    <h1 style='text-decoration: underline'>
                        <a href="/blog?blog_id={{ blog.id }}">{{ blog.title }}</a>
                    </h1>
                    <p>{{ blog.body }}</p>
                </li>
                <p>Written by
                    <a href="/blog?user={{ blog.user.username }}">{{ blog.user.username }}</a> on {{ blog.date }}
                </p>
                <hr/>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}